RewriteEngine On

# Deny direct access to src/ and database/
RewriteRule ^(src|database)(/.*)?$ - [F,L]

# Redirect all requests to the public/ folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]
